<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav class="nav-bar">
      <a class="left-side-nav" href="/">Home</a>
      <div class="right-side-nav">
        <a class="login" href="/login">Log In</a>
        <a class="signup" href="/signup">Sign Up</a>
        <a class="logout" href="/logout">Logout</a>
        <a class="navstandings" href="/standings">Get Standings</a>
      </div>
    </nav>




    {{{body}}}

    <script src="/js/script.js"></script>
  </body>
</html>
