<div class="signup-login-background">
    <h1 class="loginHeader">Sign Up</h1>
<form action="/signup" method="post">
<div class="emailText">
    <label for="">Email</label>
</div>
<div class="emailEnter">
    <input class="box-size" type="email" name="email" />
</div>
<div class="passwordText">
    <label for="">Password</label>
</div>
<div class="passwordEnter">
    <input class="box-size" type="password" name="password" />
</div>
<div class="loginButton">
    <button class="buttonText" type="submit">Sign Up</button>
</div>
    
</form>
</div>
